body {
  font-family: Arial;
  background: #111;
  color: white;
}

#messages {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #333;
  padding: 10px;
}

.msg {
  margin: 5px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

input, button {
  margin: 5px;
  padding: 8px;
}